a {
  color: #222;
}
body {
  background-color: rgb(247, 247, 247);
}
main {
  margin-top: 25px;
}
article {
  background-color: white;
}
.content-section {
  background-color: white;
  padding: 20px;
}
.article-img {
  width: 80px;
}
.account-img {
  width: 100px;
}

.nav-img {
  width: 30px;
  margin-right: 10px;
}
.idea-card {
  background-color: white;
  min-height: 200px;
  margin-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.idea-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.idea-card .idea-card-head {
  padding: 5px;
  display: flex;
  border-bottom: 1px solid rgb(219, 219, 219);
}
.idea-card .idea-card-head img {
  width: 45px;
  border-radius: 100%;
}
.idea-card .idea-card-head a {
  margin-left: 10px;
}

.idea-card .idea-card-head * {
  margin-top: auto;
  margin-bottom: auto;
}
.idea-card .idea-card-body {
  display: flex;
  padding: 20px;
}
.likes-button.liked {
  font-weight: bold;
}

footer {
  background: #343a40;
  color: white;
  margin-top: 20px;
}
footer a {
  color: white;
}
footer .footer-flex-container {
  min-height: 80px;
  display: flex;
}
footer .footer-flex-container a {
  margin: auto;
}

#div_id_image {
  display: none;
}

#account-img-container {
  cursor: pointer;
  position: relative;
  text-align: center;
  color: white;
  transition: 0.3s;
}

#account-img-container:hover {
  -webkit-filter: grayscale(100%);
}

#account-img-container .centered {
  position: absolute;
  background: rgba(51, 51, 51, 0.678);
  padding: 2px;
  width: 100%;
  border-radius: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.3s;
}

#account-img-container:hover .centered {
  opacity: 1;
}
