{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-md-4 offset-md-4">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Connexion à votre profil
                </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">
                    Se connecter
                </button>
            </div>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Pas encore inscrit ?
                    <a href="{% url 'register' %}" class="ml-2">
                        Inscrivez-vous
                    </a>
                </small>
            </div>
        </form>
    </div>
</div>
{% endblock content %}